* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  height: 200vh;
  overflow-x: hidden;
  position: relative;
 }

  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }
    
p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.hero {
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 2rem;
  width: 100%; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;font-weight: bold;
    font-size: 24px !important; 
    
  }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a span {
      background: #007bff;
      color: #fff;
      border-radius: 30px;
      display: inline-block;
      padding: 5px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 0px;
        color: #fff;
        font-size: 16px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a > span {
          padding: 5px 20px;
          display: inline-block;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          border-radius: 30px; }
        .site-navbar .site-navigation .site-menu > li > a:hover > span {
          background: #007bff;
          color: #fff;
          border-radius: 30px;
          display: inline-block; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a span {
        position: relative;
        padding-right: 30px; }
        .site-navbar .site-navigation .site-menu .has-children > a span:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 10px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #007bff;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #007bff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #fafafb; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
            position: relative; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:after {
              position: absolute;
              right: 0;
              content: "\e315";
              right: 20px;
              font-family: 'icomoon'; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #fafafb; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children:hover > a span, .site-navbar .site-navigation .site-menu .has-children:focus > a span, .site-navbar .site-navigation .site-menu .has-children:active > a span {
          background: #007bff;
          color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #f8f9fa; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }
          .new-section {
            padding-top: 50px;
            text-align: center;
            font-size: 4em;
            font-weight: 100;
          }
          
          /* Header styles */
          
          
/* General/reset styles */



.new-section {
  padding-top: 40px;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
}

/* CONTENT1 styles */
.hero .content1
 {
  position: relative;
  text-align: center;
  height: 90vh;
  color: #fff;
}

.hero .content1 h1 {
  padding-top: 60px;
  padding-top: -webkit-calc(50vh - 113px);
  padding-top: expression(50vh - 113px);
  padding-top: -moz-calc(50vh - 113px);
  padding-top: -o-calc(50vh - 113px);
  padding-top: calc(70vh - 300px);
  font-size: 7em;
  font-weight: 100;
}

.hero .content1 h2 {
  font-size: 2em;
}

 span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.hero .content1 span::before,
.hero .content1 span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.hero .content1 span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

.hero .content1 span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

/* Scroll animations styles */

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.scroll-animations {
  display: flex;
}

.scroll-animations div {
  flex-grow: 1;
  padding: 30px;
  height: 300px;
  width: 100;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  opacity: 0;
  color: rgb(13, 37, 56);
}

.scroll-animations div span {
  font-size: 4em;
  color: #00a2ff;
}

.scroll-animations div h3 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 10px;
}
.scroll-animations div p {
  font-size: 1.0em;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  color:rgb(0, 0, 0)
}


/* Media queries */
@media (max-width: 1100px) 
{
.new-section {
    font-size: 3em;
  }
.scroll-animations div {
    padding: 20px 40px;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 759px) {
  header h1 {
    font-size: 5em;
  }
  
  .new-section {
    font-size: 3em;
  }
.scroll-animations div {
    padding: 20px 80px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .scroll-animations {
    display: block;
  }
  
  
}

@media (max-width: 475px) {
  .new-section {
    font-size: 2.5em;
  } 
  
  .hero .content1 h1 {
    font-size: 3.2em;
  }
  
  .hero .content1 h2,
  .funky-animations h3 {
    font-size: 1.5em;
  }
  
}

p { color: #ffffff;  }

/*-=-=-=-=-=-=-=-=-=-*/
/* Column Grids */
/*-=-=-=-=-=-=-=-=-= */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
  position: relative;
  display:inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

/*-=-=-=-=-=-=-=-=-=-=- */
/* Flip Panel */
/*-=-=-=-=-=-=-=-=-=-=- */

.wrapper{ width: 1200px; margin: 0 auto;  background-color: #886262; hoverflow: hidden;}

.panel {
  margin: 0 auto;
  height: 400px;  
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

.panel .front,
.panel .back {
  text-align: center;
}
  
.panel .front {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 900;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
     -moz-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}

.panel .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.box1{
  background-color: #14bcc8;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.box2{
  background-color: #ff7e70;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.stuff1
{
  height: 400px;
  background-color: bisque;
  margin: 0 auto;
}
.stuff1 .title{
  text-align: center;
  font-size: 2.9em;
  padding-top: 40px;
}
.stuff1 .cont{
  text-align: center;
  font-size: 1.9em;
  padding-top: 40px;
  color: rgb(29, 26, 31);
  height:300px;

}
/* Media queries */
@media (max-width: 1200px) 
{ .box1 {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.box2{
  width: 500px;
  height: 400px;
  margin: 0 auto;
}
.stuff1 .title{
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 40px;
  padding-right: 70px;
}

.stuff1 .cont{
  text-align: center;
  font-size: 1.9em;
  padding-top: 60px;
  padding-right: 70px;
  color: rgb(29, 26, 31);
  height:300px;

}
@media (max-width: 990px) {
  .stuff1 .cont{
 text-align: center;
    font-size: 1.5em;
    padding-top: 40px;
    padding-right: 70px;
    color: rgb(29, 26, 31);
    height:300px;
  
  }
}
@media (max-width: 890px) {
  .stuff1 .title{
    text-align: center;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 40px;
    padding-right: 70px;
  }
  .stuff1 .cont{
 text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-right: 70px;
    color: rgb(29, 26, 31);
    height:300px;
  
  }
}
@media (max-width: 820px) {
  .stuff1 .title{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 40px;
    padding-right: 70px;
  }
  .stuff1 .cont{
 text-align: center;
    font-size: 1.0em;
    padding-top: 10px;
    padding-right: 50px;
    color: rgb(29, 26, 31);
    height:300px;
  
  }
}
}
@media (max-width: 759px)
{  
  .stuff1
{
  height: 750px;
  background-color: bisque;
  margin: 0px 40px 0px 40px;
}
.stuff1 .title{
  text-align: center;
  font-size: 2.9em;
  padding-top: 40px;
  padding-left: 40px;
}
.stuff1 .cont{
  text-align: center;
  font-size: 1.9em;
  padding-top: 40px;
  color: rgb(29, 26, 31);
  height:300px;
  padding-left: 40px;

}
.panel{
  margin-left:130px;
}

}
.text1{
  text-align: center;
  font-size: 3.9em;
  font-weight: bold;
  text-decoration:uppercase ;
  margin: 70px 0px 50px 0px;
}
.logos img {
  margin: auto;
  display: block;
  text-align: center;
  width: 100%;
  opacity: 0.3;
}

.logos img:hover {
  opacity: 0.5;
}

.desc h3 i {
  color: #2f2f2f;
  font-size: 37px;
  vertical-align: middle;
  margin-right: 12px;
}

.desc {
  padding: 30px;
  position: relative;
  background: rgb(255, 255, 255);
  border: 1px solid #ffffff;
}

.testi-meta {
  display: block;
  margin-top: 20px;
}

.testimonial h4 {
  font-size: 18px;
  color: #ffffff;
  padding: 13px 0 0;

}

.testimonial img {
  max-width: 55px;
}

.testimonial small {

  font-size: 16px;
  display: block;
}

.testimonial {
  background-color: transparent;
}

.testimonial h3 {
  font-size: 20px;
  font-weight: 300;
}

.testimonial small,
.testimonial .lead {
  background-color: transparent;
  color: #aaa;
  display: block;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
}

.testimonial p:after {
  display: none;
}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

textarea.form-control {
  height: inherit !important; }

.ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; }

footer {
  padding: 7em 0; }

.footer-10 {
  background: #222222;
  padding: 0 0 4em 0; }
  .footer-10 .border-top, .footer-10 .border-bottom {
    border-color: rgba(255, 255, 255, 0.1) !important; }
  .footer-10 .footer-heading {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px; }
  .footer-10 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-10 a {
    color: #1089ff; }
  .footer-10 .con.con-1 {
    background: #1e1e1e; }
  .footer-10 .con.con-2 {
    background: #1c1c1c; }
  .footer-10 .con.con-3 {
    background: #252525; }
  .footer-10 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.2); }
    .footer-10 .list-unstyled li a:hover {
      color: #fff; }
  .footer-10 .con-info .icon {
    width: 50px;
    height: 50px;
    background: #1089ff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .footer-10 .con-info .icon span {
      color: #fff;
      font-size: 24px; }
  .footer-10 .con-info span {
    color: rgba(255, 255, 255, 0.8); }
  .footer-10 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }
    .footer-10 .subscribe-form .form-group input {
      background: white !important;
      border: none !important;
      outline: none !important;
      color: rgba(0, 0, 0, 0.3) !important;
      font-size: 16px;
      border-radius: 0; }
      .footer-10 .subscribe-form .form-group input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.3) !important; }
      .footer-10 .subscribe-form .form-group input:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .footer-10 .subscribe-form .form-group .submit {
      color: #fff !important;
      display: block;
      width: 130px;
      height: 52px;
      font-size: 16px;
      background: #1089ff !important;
      border: none;
      border-radius: 0; }
      .footer-10 .subscribe-form .form-group .submit:hover, .footer-10 .subscribe-form .form-group .submit:focus {
        text-decoration: none !important;
        outline: none !important; }
  .footer-10 .subscribe-form .subheading {
    display: inline-block;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px; }
  .footer-10 .ftco-footer-social li a {
    background: rgba(255, 255, 255, 0.1);
    color: #fff; }



    /* Button Setting */
#google_translate_element {
  text-align: right;
  padding-top: 100px;
  padding-right: 50px;
} 

.goog-te-gadget {
  font-family: Roboto, "Open Sans", sans-serif !important;
  text-transform: uppercase;
}

.goog-te-gadget-simple {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  line-height: 2rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}

.goog-te-menu2 {
  max-width: 100%;
}

.goog-te-menu-value {
  color: #fff !important;
}

.goog-te-menu-value:before {
  font-family: 'Material Icons';
  content: "\E927";
  margin-right: 16px;
  font-size: 2rem;
  vertical-align: -10px;
}

.goog-te-menu-value span:nth-child(5) {
  display: none;
}

.goog-te-menu-value span:nth-child(3) {
  border: none !important;
  font-family: 'Material Icons';
}

.goog-te-menu-value span:nth-child(3):after {
  font-family: 'Material Icons';
  content: "\E5C5";
  font-size: 1.5rem;
  vertical-align: -6px;
}

.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 32px !important;
  width: 32px !important;
  margin-right: 8px !important;
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

@media (max-width: 667px) {
  #google_translate_element {
    bottom: calc(100% - 50% - 53px);
    left: 16px !important;
    width: 100% !important;
  }
  #google_translate_element goog-te-gadget {
    width: 100% !important;
  }
  #google_translate_element .skiptranslate {
    width: 100% !important;
  }
  #google_translate_element .goog-te-gadget-simple {
    width: calc(100% - 32px) !important;
    text-align: center;
  }
}